@{
    Layout = "_LandingPageLayout";
    ViewBag.Title = "Login";
}
@model AdminLogin;

@section PageStyles {
    <link rel="stylesheet" href="~/app-assets/vendor/css/pages/page-auth.css">

    <link rel="stylesheet" href="~/css/landing-page-layout.css">

}

@section PageScripts {

    <partial name="_ValidationScriptsPartial" />

    @* <script src="~/js/captcha.js"></script> *@

}

        <div class="login-box d-none">
            <h3>Mobile Admin Portal</h3>
            <p class="text-center">Please sign-in to your account</p>
    
                    <form id="loginForm" class="mb-4" asp-controller="Auth" asp-action="LoginAdmin" method="POST" asp-antiforgery="true">
                            <div class="mb-0">
                                <label for="EmpId" class="form-label">Employee ID</label>
                            <input type="text" class="form-control" id="EmpId" name="EmpId" asp-for="EmpId" placeholder="Enter your Employee ID" autofocus>
                            <span asp-validation-for="EmpId" class="text-danger"></span>
                            </div>
                            <div class="mb-0 form-password-toggle">
                                <label class="form-label" for="password">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" name="Password" asp-for="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                                    
                                </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="my-0">
                                <div class="d-flex justify-content-between">
                                    <a asp-asp-controller="Auth" asp-action="ForgotPassword" asp-controller="Auth">
                                        <p class="mb-0">Forgot Password?</p>
                                    </a>
                                </div>
                            </div>

                          @*   <div class="mb-6 captcha-container">
                                <!-- dynamic captcha rendering -->
                            </div> *@

                            @* <div class="my-8">
                            <div class="d-flex justify-content-between">
                                <div class="form-check mb-0 ms-2">
                                    <input class="form-check-input" type="checkbox" id="remember-me" asp-for="IsRememberMe">
                                    <label class="form-check-label" for="remember-me">
                                        Remember Me
                                    </label>
                                </div>
                                <a asp-asp-controller="Auth" asp-action="ForgotPassword" asp-controller="Auth">
                                    <p class="mb-0">Forgot Password?</p>
                                </a>
                            </div>
                        </div> *@
                            <div class="mb-0 mt-2">
                                <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
                            </div>
                    </form>
        </div>

<script>

    //error messages
    $(document).ready(()=>{

        ToastWrapper.init({
            positionClass: 'toast-top-right',
            timeOut: 3000,
            progressBar:true

        });

        const lg = $(".login-box");

        const errm1 = '@ViewData["LoginErrorMessage"]';
        if(errm1.trim() !== ''){
            ToastWrapper.error(errm1);
            if(lg.hasClass("d-none"))
                lg.removeClass("d-none").addClass("d-block");
        }

        const errm2 = '@TempData["ForgotPasswordRequestError"]';
        if(errm2.trim() !== '') {
            ToastWrapper.error(errm2);
            if(lg.hasClass("d-none"))
                lg.removeClass("d-none");
        }

        const errm3 = '@TempData["OTPValidationError"]';
        if(errm3.trim() !== '') {
            ToastWrapper.error(errm3);
            if(lg.hasClass("d-none"))
                lg.removeClass("d-none");
        }

        const errm4 = '@TempData["ResetPasswordSuccessMessage"]';
        if(errm4.trim() !== '') {
            ToastWrapper.success(errm4);
            if(lg.hasClass("d-none"))
                lg.removeClass("d-none");
        }

        const errm5 = '@TempData["ResetPasswordErrorMessage"]';
        if(errm5.trim() !== ''){
            ToastWrapper.error(errm5);
            if(lg.hasClass("d-none"))
                lg.removeClass("d-none");
        }


        $('.form-password-toggle i').click(function (e) {
              e.preventDefault();
              const $input = $(this).closest('.form-password-toggle').find('input');
              const isPassword = $input.attr('type') === 'password';

              $input.attr('type', isPassword ? 'text' : 'password');
              $(this).toggleClass('ti-eye ti-eye-off');
        });


        const isCaptcha = $("#captchaImg").length > 0;
        if(isCaptcha){
            $("#loginForm").on('submit', async function (e) {
            e.preventDefault();

            const $form = $(this);
            const errorMessage = document.getElementById("captchaError");
            errorMessage.classList.add("d-none");


            try {
                const resp = await validatecaptcha();

                if (resp.success === true) {
                    // Temporarily remove handler to avoid recursion
                    $form.off('submit');

                    // Submit the form normally
                    $form.submit();
                } else {
                    errorMessage.innerText = resp.message || "Captcha validation failed.";
                    errorMessage.classList.remove("d-none");
                }

            } catch (error) {
                console.error("Captcha validation error:", error);
                errorMessage.innerText = "An unexpected error occurred. Please try again.";
                errorMessage.classList.remove("d-none");
            }
        });
      }
    });
</script>